{% extends "adminparent.html" %}
    {% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Issue Book Form</h1>   
            <form  class="form-group" method="post" action={% url 'adminapp:issue' %}>
                {% csrf_token %}
                    <table class="table table-bordered text-light" style="width: 70%; margin:auto;">
                        <tr>
                            <td>Book Id: </td>
                            <td>
                                <input type="text" name="bookid" value="{{book.bookid}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>ISBN No: </td>
                            <td>
                                <input type="text" name="isbno" value="{{book.isbno}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Program</td>
                            <td>
                                <input type="text" name="program" value="{{book.program}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>
                                <input type="text" name="branch" value="{{book.branch}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>
                                <input type="text" name="subject" value="{{book.subject}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Book Name</td>
                            <td>
                                <input type="text" name="bookname" value="{{book.bookname}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Author Name</td>
                            <td>
                                <input type="text" name="authorname" value="{{book.authorname}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td>Enter Roll Number</td>
                            <td>
                                <input type="number" name="rollno" class="form-control text-light"/> 
                            </td>
                        </tr>
                        {% comment %} <tr>
                            <td>Enter Name</td>
                            <td>
                                <input type="text" name="name"  value="{{}}"class="form-control text-light" readonly style="background-color:black"/> 
                            </td>
                        </tr> {% endcomment %}
                        <tr>
                            <td> Year</td>
                            <td>
                                <input type="text" name="year" value="{{book.year}}" class="form-control text-light" style="background-color:black;" readonly/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Issue Date</td>
                            <td>
                                <input type="date" name="issuedate" value="1" class="form-control text-light"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td>
                                <input type="date" name="duedate" class="form-control text-light" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-success">Issue Book</button></td>
                        </tr>
                    </table>
            </form>  
        </div>
    </div>
{% endblock body %}
