{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
  {% for messages in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{messages}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
    <h2 style="color:blue;text-align:center">Change password</h2>
    <br>
    <form action="" class="form-group" action="{% url 'studentapp:changepassword' %}" method="POST">
        {% csrf_token %}
        <table style="width: 70%;margin:auto;">
            <tr>
                <td>Enter old password:</td>
                <td>
                    <input type="password" name="oldpassword" id="" class="form-control" required/>
                </td>
            </tr>
            <tr>
                <td>Enter new password:</td>
                <td>
                    <input type="password" name="newpassword" id="" class="form-control" required/>
                </td>
            </tr>
            <tr>
                <td>Re-enter new password:</td>
                <td>
                    <input type="password" name="confirmpassword" id="" class="form-control" required/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td><button type="submit" class="btn btn-success">Change Password</button></td>
            </tr>
        </table>
    </form>


{% endblock body %}
