{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
  {% for messages in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{messages}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<h2 style="text-align:center">Submit your Complain or Feedback</h2>
<form class="form-group" method="post" action="{% url 'studentapp:response' %}">
    {% csrf_token %}
    <table class="table" style="width:70%;margin:0 auto;">
        <tr>
            <td>Select Response Type</td>
            <td>
                <select name="responsetype" class=""form-control>
                    <option value="">-Select Response Type-</option>
                    <option value="feedback">Feedback</option>   
                    <option value="complain">Complain</option>      

                </select>
            </td>
        </tr>
        <tr>
            <td>
                Enter Subject:
            </td>
            <td>
                <input type="text" name="subject" class=""form-control/>
            </td>
        </tr>
        <tr>
            <td>
                Enter Response Text:
            </td>
            <td><textarea name="responsetext" class="form-control" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success">Submit</button>
            </td>
        </tr>
    
    
    </table>
</form>


{% endblock body %}